@keyframes circleshow1 {
  from {
    transform: translateX(-10px);
    opacity: -;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes circleshow2 {
  from {
    transform: translateX(-86px);
    opacity: -;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes circleshow3 {
  from {
    transform: translateX(-172px);
    opacity: -;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.text-area {
  margin-top: 90px;
  margin-left: 24px;
}
.text-area h1 {
  margin-bottom: 22px;
  animation: showtext 0.5s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.desc{
  animation: showtext 0.35s;
  animation-delay: 0.12s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.volume {
  margin-bottom: 85px;
}
#circle-wrapper {
  position: relative;
  margin-left: 24px;
  margin-top: 42px;
}
.circle {
  width: 240px;
  height: 246px;
  border-radius: 50%;
  position: absolute;

  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.circle:nth-child(1) {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  animation-delay: 0;
  animation: circleshow1 1s;
  animation-fill-mode: both;

}
.circle:nth-child(2) {
  background-color: #ffc000;
  left: 100px;
  animation-delay: 0.2s;
  animation: circleshow2 1s;
  animation-fill-mode: both;

}
.circle:nth-child(3) {
  background-color: #fedd15;
  left: 200px;
  transition: 1s;
  top: 0;
  animation-delay: 0.3s;
  animation: circleshow3 1s;
  animation-fill-mode: both;

}

.circle:nth-child(3):hover {
  background-color: blue;
  top: -20px;
}

.circle:nth-child(3):active {
  background-color: red;
  top: -20px;
}

.line {
  width: 46px;
  height: 1px;
  background-color: #ffe6cf;
  display: inline-block;
  position: relative;
  top: -7px;
  opacity: 0.2;
}
#badge {
  background-color: #ffc000;
  width: 56px;
  height: 56px;
  color: #485861;
  margin-left: 24px;
  padding-left: 13px;
  padding-top: 18px;
  font-size: 9px;
  line-height: 11px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 24px;
  font-weight: bold;
  animation: slidedown 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;

}
